In [1]:
#Booleans
#In programming you often need to know if an expression is True or False. 
#You can evaluate any expression in Python, and get one of two answers, True or False. 
#When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [2]:
print(10>9)

True

In [4]:
print(10==9)

print(10<9)

False
False

In [5]:
#conditional if statement 
a = 200
b = 5
if b > a:
    print ("b is greater than a ")
else:
    print ("b is less than a ")

b is less than a

In [6]:
print(bool("Hello"))

True

In [7]:
print(bool([2,3,4]))

True

In [11]:
print(bool([]))
print(bool(" "))
print(bool({}))
print(bool(None))

False
True
False
False

In [12]:
#Python Operators 

#Arithmetic operators
# + - * / ** %modulus //flooor division
#Assignment operators 
#= == += -=

#Comparison operators

# < > <= >= == != not equal 

#Logical operators

#and Returns True if both statements are true 

#or Returns True if one of the statements is true

#not Reverses the result, returns false if the result is true  

#Membership operators 
#in 
#not in

In [14]:
x = 5

In [15]:
x == 5

True

x += 3 what this means is x = x+3 

x -= 3 implies x = x-3

In [17]:
#and
x = 3
x < 5 and x < 10

True

In [20]:
#or 
x < 5 or x < 2

True

In [21]:
#not
not(x<5 and x<10)

False

In [22]:
#Membership operator, in and not in

a = "This is a lemon"

print('boy' in a)

False

In [23]:
print('lemon' in a)

True

In [45]:
#LIST

thislist_isempthy = []
thislist = ["Man","Dog","Cat","Monkey","Fish"]

In [26]:
print(thislist[2])

Cat

In [27]:
print(thislist[-1])

Fish

In [29]:
print(thislist[1:6])

['Dog', 'Cat', 'Monkey', 'Fish']

In [30]:
thislist[-2] = "Giraffe"

In [31]:
print(thislist)

['Man', 'Dog', 'Cat', 'Giraffe', 'Fish']

In [32]:
for item in thislist:
    print(item)

Man
Dog
Cat
Giraffe
Fish

In [33]:
#check if an item exists in the thislist
 #check if 'Dog' exists

In [34]:
if "Dog" in thislist:
    print('yes')

yes

In [35]:
len(thislist)

5

In [36]:
#append() adds items to the list

thislist.append("Monkey")
print(thislist)

['Man', 'Dog', 'Cat', 'Giraffe', 'Fish', 'Monkey']

In [37]:
#insert()

thislist.insert(1, "Bear")
print(thislist)

['Man', 'Bear', 'Dog', 'Cat', 'Giraffe', 'Fish', 'Monkey']

In [38]:
#remove items from list: del, remove, pop, clear()

thislist.remove("Bear")
print(thislist)

['Man', 'Dog', 'Cat', 'Giraffe', 'Fish', 'Monkey']

In [39]:
thislist.pop()
print(thislist)

['Man', 'Dog', 'Cat', 'Giraffe', 'Fish']

In [41]:
del thislist[0]

In [42]:
print(thislist)

['Dog', 'Cat', 'Giraffe', 'Fish']

In [43]:
thislist.clear()
print(thislist)

[]

In [44]:
thislist

[]

In [46]:
thislist

['Man', 'Dog', 'Cat', 'Monkey', 'Fish']

In [47]:
list1 = thislist

In [48]:
list1

['Man', 'Dog', 'Cat', 'Monkey', 'Fish']

In [49]:
thislist

['Man', 'Dog', 'Cat', 'Monkey', 'Fish']

In [52]:
#copy() method makes a true, independent copy of the list 

list2 = thislist.copy()
print(list2)

['Man', 'Dog', 'Cat', 'Monkey', 'Fish']

In [54]:
print(list2.pop())
print(list2)

Monkey
['Man', 'Dog', 'Cat']

In [55]:
thislist

['Man', 'Dog', 'Cat', 'Monkey', 'Fish']

In [56]:
print(thislist.pop())
print(thislist)
print('-'*30)
print(list1)

Fish
['Man', 'Dog', 'Cat', 'Monkey']
------------------------------
['Man', 'Dog', 'Cat', 'Monkey']

In [57]:
list1

['Man', 'Dog', 'Cat', 'Monkey']

In [58]:
list2

['Man', 'Dog', 'Cat']

In [59]:
list3 = list1 + list2

In [60]:
print(list3)

['Man', 'Dog', 'Cat', 'Monkey', 'Man', 'Dog', 'Cat']

In [62]:
#TUPLES

thistuple = ("apple","banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [66]:
print(thistuple[0])

apple

In [71]:
print(thistuple[:])

('apple', 'banana', 'cherry')

In [72]:
thistuple[0] = "Grape"

TypeError: 'tuple' object does not support item assignment

In [73]:
y = list(thistuple)

y[0] = "Grape"

x = tuple(y)

print(x)

('Grape', 'banana', 'cherry')

In [74]:
for item in thistuple:
    print(item)

apple
banana
cherry

In [77]:
if "cherry" in thistuple:
    print('yes')
else:
    print('no')

yes

In [80]:
y = ("man",)

In [81]:
print(y)

('man',)

In [82]:
thistuple = ('Grape', 'banana', 'cherry')

In [84]:
thistuple
del thistuple

In [85]:
print(thistuple)

NameError: name 'thistuple' is not defined

In [86]:
x = (1,2,3,5)

y = (4,6,8,0)

In [88]:
z = x + y 
print(z)

(1, 2, 3, 5, 4, 6, 8, 0)

In [89]:
thistuple = tuple(('Grape', 'banana', 'cherry')) #notice the 2 brackets

In [90]:
thistuple

('Grape', 'banana', 'cherry')

In [94]:
thistuple.count('banana')

1

In [97]:
thistuple.index('cherry')

2

In [98]:
#SETS
#A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

thisset_isempty = {}

thisset ={"apple","banana","mango"}

In [99]:
print(thisset)

{'banana', 'mango', 'apple'}

In [105]:
if "mango" in thisset:
    print('mango' in thisset)

True

In [106]:
#add
thisset.add("orange")
print(thisset)

{'orange', 'banana', 'mango', 'apple'}

In [108]:
#update()

thisset.update(["grapes","strawberry","kola"])
print(thisset)

{'kola', 'apple', 'mango', 'strawberry', 'grapes', 'orange', 'banana'}

In [109]:
#remove() and discard()
#pop removes the last item but we wont be sure which item until we ask to print the set !
thisset.discard("strawberry")
print(thisset)

{'kola', 'apple', 'mango', 'grapes', 'orange', 'banana'}

In [111]:
set1 = {'kola', 'apple', 'mango',}
set2 = {'strawberry', 'grapes', 'orange', 'banana'}

In [112]:
#union()
set3 = set1.union(set2)

In [113]:
print(set3)

{'strawberry', 'grapes', 'kola', 'apple', 'orange', 'banana', 'mango'}

In [115]:
#update
set1.update(set2)
print(set1)

{'kola', 'apple', 'mango', 'strawberry', 'grapes', 'orange', 'banana'}

In [116]:
#difference
set4 = set3.difference(set2)
print(set4)

{'mango', 'kola', 'apple'}

The Farm problem
A farmer breeds 3 different species of animals and wants you to calculate the total number of legs of all the animals when given the number of each specie present on the farm.
Species: chickens, cows, pigs
Number: 100, 20, 40

Write a function to return the total number of animal legs in the farm.

In [122]:
def totallegs(chickens,cows,pigs):
    return((2*chickens)+(4*cows)+(4*pigs))


print(totallegs(100,20,40))
print(" is the total number of animal legs in the farm:")

440
total number of animal legs in the farm:

In [125]:
def totallegs(chickens,cows,pigs):
    return((2*chickens)+(4*cows)+(4*pigs))

chickens,cows,pigs = int(input("Enter the no of chickens: ")),int(input("Enter the no of cows:")),int(input("Enter the no of pigs: "))

print("Total number of animal legs in the farm is:")
print(totallegs(chickens,cows,pigs))

Enter the no of chickens: 60
Enter the no of cows:20
Enter the no of pigs: 20
 Total number of animal legs in the farm is:
280